* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(197, 236, 243);
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#container {
  width: 77%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 17px;
}
#container #leftPane {
  background-color: rgb(2, 24, 33);
  width: 44%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  color: whitesmoke;
}
#container #leftPane #me,
#name {
  display: flex;
  justify-content: center;
}
#container #leftPane #me img {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  border: 2px solid rgb(10, 62, 72);
}
#container #leftPane #name h2 {
  text-align: center;
  line-height: 20px;
  letter-spacing: 1.3px;
}
#container #leftPane hr {
  width: 100%;
  background-color: rgb(237, 240, 240);
}
#container #leftPane h3 {
  background-color: rgb(10, 62, 72);
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  font-variant: small-caps;
  border-bottom: 1px solid rgb(255, 255, 255);
}
#container #leftPane #Contact {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
#container #leftPane #Contact #call,
#mail,
#website,
#linkedIn,
#gitHub,
#Location {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: flex-start;
}
#container #leftPane #Contact #call img {
  width: 11px;
  height: 11px;
  margin-top: 4px;
}
#container #leftPane #Contact #mail img {
  width: 11px;
  height: 11px;
  margin-top: 4px;
}
#container #leftPane #Contact #website img {
  width: 11px;
  height: 11px;
  margin-top: 4px;
}
#container #leftPane #Contact #linkedIn img {
  width: 11px;
  height: 11px;
  margin-top: 4px;
}
#container #leftPane #Contact #gitHub img {
  width: 11px;
  height: 11px;
  margin-top: 4px;
}
#container #leftPane #Contact #Location img {
  width: 11px;
  height: 11px;
  margin-top: 4px;
}
#container #leftPane #Edun {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
#container #leftPane #Edun h4 {
  color: rgb(36, 111, 124);
}
#container #leftPane #Edun #EdunSummary {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
#container #leftPane #Language {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
#container #leftPane #Language #LanguageSection {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
#container #leftPane #Language #LanguageSection li {
  list-style: linear-gradient(
    to top right,
    rgb(29, 123, 141) 50%,
    rgb(10, 62, 72) 25%
  );
  list-style-position: inside;
}
#container #rightPane {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: rgb(5, 47, 53);
  line-height: 18px;
}
#container #rightPane h3 {
  font-variant: small-caps;
  padding: 4px;
  border-bottom: 1px solid rgb(10, 58, 75);
  background-color: rgb(167, 205, 212);
  border-radius: 8px;
  text-align: center;
}
#container #rightPane h4 {
  font-variant: small-caps;
}
#container #rightPane #profile {
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#container #rightPane #profile p {
  text-align: justify;
}
#container #rightPane #Expn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#container #rightPane #Expn h4 {
  border-bottom: 1.8px solid rgb(34, 72, 87);
  width: fit-content;
  padding-right: 12px;
  font-size: small;
}
#container #rightPane #Expn #ExpnSummary {
  width: 95%;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
#container #rightPane #Expn #ExpnSummary #year {
  width: 44%;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
#container #rightPane #Expn #ExpnSummary #details {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: justify;
}
#container #rightPane #Expn #ExpnSummary #details ul li {
  list-style: linear-gradient(
    to top right,
    rgb(29, 123, 141) 50%,
    rgb(10, 62, 72) 25%
  );
  list-style-position: inside;
  line-height: 20px;
}
#container #rightPane #skills {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#container #rightPane #skills #SkillSummary {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
#container #rightPane #skills #SkillSummary p {
  width: 28%;
}
#container #rightPane #skills #SkillSummary #Bar {
  width: 70%;
  height: 7px;
  background-color: rgb(144, 162, 165);
  border-radius: 3px;
  display: flex;
  align-items: center;
}
#container #rightPane #skills #SkillSummary .Bars {
  height: 7px;
  background-color: rgb(10, 62, 72);
  border-radius: 3px;
}
#container #rightPane #skills #SkillSummary #Bar1 {
  width: 88%;
}
#container #rightPane #skills #SkillSummary #Bar2 {
  width: 82%;
}
#container #rightPane #skills #SkillSummary #Bar3 {
  width: 74%;
}
#container #rightPane #skills #SkillSummary #Bar4 {
  width: 72%;
}
#container #rightPane #skills #SkillSummary #Bar5 {
  width: 66%;
}
#container #rightPane #skills #SkillSummary #Bar6 {
  width: 54%;
}
#container #rightPane #skills #SkillSummary #Bar7 {
  width: 64%;
}
#container #rightPane #skills #SkillSummary #Bar8 {
  width: 66%;
}
#container #rightPane #skills #SkillSummary #Bar9 {
  width: 44%;
}
#container #rightPane #interest {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#container #rightPane #interest #InterestSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
}
#container #rightPane #interest #InterestSection li {
  list-style: linear-gradient(
    to top right,
    rgb(29, 123, 141) 50%,
    rgb(10, 62, 72) 25%
  );
  list-style-position: inside;
  line-height: 20px;
}
@media (max-width: 750px) {
  #container {
    flex-direction: column;
  }
  #container #leftPane {
    width: 100%;
    background-color: rgb(2, 24, 33);
  }
}
@media (max-width: 400px) {
  #container {
    width: 98%;
  }
}
@media (max-width: 500px) {
  #container #rightPane #interest #InterestSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
  }
}
